.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  z-index: 9999;
}

.header-menu {
  display: none;
}

.icon-common {
  transition: opacity 0.3s ease;
}

.icon-hide {
  opacity: 0;
  pointer-events: none;
}

.icon-container {
  position: absolute;
  top: 50%; /* Center vertically */
  right: 0; /* Align to the right edge */
  transform: translateY(-50%); /* Adjust vertically to truly center */
  width: 3rem; /* Adjust based on actual size */
  height: 2rem; /* Adjust based on actual size */
  z-index: 100; /* Ensure it's above other content */
}

.fa-bars,
.fa-times {
  position: absolute;
  top: 0;
  left: 0;
  color: var(-clr-charcoal);
  width: var(--size-2xl);
  height: var(--size-2xl);
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fa-times {
  opacity: 0;
}

/* When toggled, apply these styles possibly by adding a class */
.show .fa-bars {
  opacity: 0;
  transform: rotate(45deg);
}

.show .fa-times {
  opacity: 1;
  transform: rotate(90deg);
}

.header-bar {
  color: var(-clr-charcoal);
  width: var(--size-2xl);
  height: var(--size-2xl);
  display: block;
  cursor: pointer;
}

.header-join {
  font-size: var(--size-xs);
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .header-menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 2em;
  }

  .header-link {
    font-size: var(--size-xs);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: -0.05rem;
  }

  .header-link:hover {
    border-bottom: 2px solid var(--clr-emerald);
  }

  .header-line {
    border: 1px solid var(--clr-charcoal);
    padding-top: 1.5em;
  }

  .header-bar {
    display: none;
  }

  .mobile-navigation,
  .icon-container {
    display: none;
  }
}

/* lg */
@media (min-width: 1024px) {
  .header-link {
    font-size: var(--size-sm);
  }

  .header-join {
    font-size: var(--size-sm);
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
