.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.hero-img {
  display: inline-block;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}

.hero-subtitle {
  color: var(--clr-charcoal);
  font-size: var(--size-base);
  line-height: 0.9;
}

.hero-title {
  color: var(--clr-charcoal);
  text-transform: uppercase;
  font-size: var(--size-4xl);
  letter-spacing: -0.05em;
  line-height: 0.9;
}

.hero-description {
  max-width: 60ch;
  color: var(--clr-charcoal);
  font-size: var(--size-sm);
}

/* xs */
@media (min-width: 475px) {
  .hero {
    gap: 1.5rem;
  }

  .hero-img {
    width: 6.5rem;
    height: 6.5rem;
  }

  .hero-subtitle {
    font-size: var(--size-lg);
  }

  .hero-title {
    font-size: var(--size-5xl);
  }

  .hero-description {
    font-size: var(--size-base);
  }
}

/* lg */
@media (min-width: 1024px) {
  .hero-img {
    width: 8rem;
    height: 8rem;
  }

  .hero-subtitle {
    font-size: var(--size-2xl);
  }

  .hero-title {
    font-size: var(--size-7xl);
  }

  .hero-description {
    font-size: var(--size-lg);
  }
}

/* xl */
@media (min-width: 1280px) {
  .hero {
    gap: 2rem;
  }

  .hero-img {
    width: 10rem;
    height: 10rem;
  }

  .hero-subtitle {
    font-size: var(--size-4xl);
  }

  .hero-title {
    font-size: var(--size-9xl);
  }

  .hero-description {
    font-size: var(--size-xl);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
